---
import { AuthSilent } from '@explainer/auth/react'
---

<!doctype html>
<html>
  <head><meta charset="UTF-8" /><title>Silent renew</title></head>
  <body>
    <AuthSilent client:only="react" />
  </body>
</html>
